@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.Inputs
<div class="container">
<div class="row">
    <div class="card mt-2 bg-dark col-sm-12">
        <div class="card-body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Search</span>
                </div>
                <input type="text" class="form-control" @bind-value:event="oninput" @bind-value="@owner" placeholder="Add Owner" @onkeyup="async () => await GetRepos()"/>
                <input type="text" class="form-control" @bind="@repoName" placeholder="Add Repo"/>
                <button type="button" class="btn btn-primary ml-sm-1" @onclick="async () => await GetRepoFiles(repoName)" href="">Root Dir</button>

            </div>
            <div class="input-group mt-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Where Am I?</span>
                </div>
                <input type="text" class="form-control" @bind="@_urlListPath" placeholder="RepoRoot" disabled/>
            </div>
        </div>
    </div>


@if(_reposListStars != null){
    <div class="card col-sm-6">
        <div class="card-body">
            @foreach(var item in _reposListStars){
                <h5 class="card-title">
                    <a href="" @onclick="async () => await GetRepoFiles(item.Name)">@item.Name</a>
                    <span class="badge-primary p-1 rounded-lg">@item.StargazersCount <span class="iconify" data-icon="octicon:star"></span></span>
                </h5>
                <p class="card-text">@item.Description</p>
                <hr>
            }
        </div>
    </div>
}

@if(showList == true){
    <ul class="list-group col-sm-3 bg-dark">

            <li class="list-group-item">
                <button type="button" class="btn btn-primary text-left" href="" @onclick="ShowEditorNewFile" aria-label="New File">
                    <span class="iconify" data-icon="octicon:diff" data-inline="true"></span> New File
                </button>
                <button type="button" class="btn btn-primary text-right" href="" @onclick="PreviousFolder" aria-label="Back">
                    <span class="iconify" data-icon="octicon:arrow-left" data-inline="true"></span> Back
                </button>
                <button type="button" class="btn btn-danger text-right" aria-label="Close" @onclick="ListClose">
                    <span class="iconify" data-icon="octicon:x" data-inline="true"></span>
                </button>
            </li>
            @if(_reposFolders.Count != 0){
                <li class="list-group-item bg-primary text-center text-light">Folders</li>
            }
            @foreach(var item in _reposFolders){
                <button type="button" href="" class="list-group-item list-group-item-action bg-light" @onclick="async () => await GetRepoFilesPath(item.Name)">
                    <span class="iconify" data-icon="octicon:file-directory" data-inline="true"></span>
                    @item.Name
                </button>
            }
            @if(_reposList.Count != 0){
                <li class="list-group-item bg-primary text-center text-light">Files</li>
            }
            @foreach(var item in _reposList){
                <button type="button" class="list-group-item list-group-item-action bg-light" href="" @onclick="async () => await GetFile(item.Name)">
                    <span class="iconify" data-icon="octicon:file" data-inline="true"></span>
                    @item.Name
                </button>
            }

    </ul>
}

@if(showEditor == true){
    <div class="card col-sm-9 bg-dark">
        @foreach(var item in _repoFileContent){
            <div class="card-body">
                <button type="button" class="close text-light" aria-label="Close" @onclick="EditorClose">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="text-light">@item.Name</h4>
                <EjsRichTextEditor @bind-value="@content">
                    @Markdig.Markdown.ToHtml(item.Content)
                </EjsRichTextEditor>
                @if(content != null){
                    <button class="e-btn" type="submit" @onclick="UpdateFile">Submit Update</button>
                }
                <button class="e-btn" type="submit" @onclick="DeleteFile">Delete File</button>
            </div>
        }
    </div>
}

@if(showEditorNewFile == true) {
    <div class="card col-sm-9 mt-2">
        <div class="card-body">
            <button type="button" class="close" aria-label="Close" @onclick="EditorClose">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-primary">NewFile.md</h4>
            <EjsRichTextEditor @bind-value="@newContent">
                
            </EjsRichTextEditor>
            <button class="e-btn" type="submit" @onclick="CreateFile">Create File</button>
        </div>
    </div>
}

@if(showDone == true){
    <div class="mx-auto">
            <h1 class="text-center align-middle text-light"><span class="iconify" data-icon="octicon:check" data-inline="false"></span></h1>
    </div>
}
    </div>
</div>
