@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.Inputs
<div class="card mt-2 bg-dark">
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Search</span>
            </div>
            <input type="text" class="form-control" @bind-value:event="oninput" @bind-value="@owner" placeholder="Add Owner"/>
            <input type="text" class="form-control" @bind-value:event="oninput" @bind-value="@repoName" placeholder="Add Repo"/>

            <a class="btn btn-primary ml-sm-1" @onclick="async () => await GetRepoFiles()" href="">Get Root Dir</a>

        </div>
    </div>
</div>

<div class="row col-12 mx-auto">
@if(cleanList != false){
    <div class="card col-3 mt-2">
        <div class="card-body">
            <div class="card-title"><h4 class"text-center text-primary">Folders</h4></div>
            @foreach(var item in _reposFolders){
                    <a href="" class="btn btn-warning btn-block" @onclick="async () => await GetRepoFilesPath(item.Name)"><span class="iconify" data-icon="octicon:file-directory" data-inline="true"></span>  @item.Name</a>
                <hr>
            }
            <div class="card-title"><h4 class"text-center text-primary">Files</h4></div>
            @foreach(var item in _reposList){
                    <a class="btn btn-primary btn-block" href="" @onclick="async () => await GetFile(item.Name)"><span class="iconify" data-icon="octicon:file" data-inline="true"></span> @item.Name</a>
                <hr>
            }
        </div>
    </div>
}

@if(showEditor != false){
    @foreach(var item in _repoFileContent){
        <div class="card col-9 mt-2">
            <div class="card-body">

            <EjsRichTextEditor @bind-Value="@content"> 
                @Markdig.Markdown.ToHtml(item.Content)
            </EjsRichTextEditor>
            @if(content != ""){
                <button class="e-btn" type="submit" @onclick="async () => await UpdateFile()">Submit Update</button>
            }
            <button class="e-btn" type="submit" @onclick="async () => await UpdateFile()">Delete File</button>

            </div>
        </div>
    }
}
</div>