<div class="card mt-5 bg-dark">
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Github Repo</span>
            </div>
            <input type="text" class="form-control" @bind-value:event="oninput" @bind-value="@ownerMostStarred" @onchange="@SetHomeContentAsync" placeholder="Search Repo Name" />
            <a class="btn btn-primary ml-sm-1" href="" @onclick="@SetHomeContentAsync">Load</a>
        </div>
    </div>
</div>

<p class="mt-3">
    Top @StarredRepos.Count() most starred github projects from <strong>@ownerMostStarred</strong>.
</p>

@foreach (var repo in StarredRepos) {
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">
                <a href="@repo.FullName">@repo.FullName</a>
                <span class="badge-primary p-1 rounded-lg">@repo.StargazersCount <span class="oi oi-star small"></span></span>
            </h5>
            <p class="card-text">@repo.Description</p>
        </div>
    </div>
}